.navbar {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);

  padding: 1rem;

  background-color: var(--clr-blue-400);

  &__items {
    @include flexbox;
    @include flex-direction(row);
    gap: 1rem 1rem;
  }

  img {
    width: 2rem;
    height: 2rem;
  }

  a {
    color: var(--clr-white-300);
    text-decoration: none;
    font-size: var(--fs-400);
    &:hover,
    &:focus {
      color: var(--clr-white-400);
      text-decoration: underline;
    }
  }
}