$colors: (
  // blue
  blue: (
    300: hsl(207, 100%, 40%),
    400: hsl(207, 100%, 30%),
    500: hsl(207, 100%, 20%)
  ),

  // white
  white: (
    300: hsl(225, 2%, 100%),
    400: hsl(225, 2%, 99%),
    500: hsl(225, 2%, 98%)
  ),

  // orange
  orange: (
    300: hsl(13, 84%, 53%),
    400: hsl(13, 84%, 43%),
    500: hsl(13, 84%, 33%)
  ),

  // gray
  gray: (
    300: hsl(0, 0%, 66%),
    400: hsl(0, 0%, 46%),
    500: hsl(0, 0%, 26%)
  ),

  // black
  black: (
    300: hsl(0, 4%, 5%),
    400: hsl(0, 4%, 4%),
    500: hsl(0, 4%, 3%)
  )
);