.hero {
    @include flexbox;
    margin-block: 1em;

    &__image {
        // width: 60%;
        // aspect-ratio: 1;
    }

    &__container {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        width: 30%;

        &__heading {
            font-size: var(--fs-800);
        }

        &__description {
            font-size: var(--fs-400);
        }
    }
}

.container {
    @include flexbox;
    @include justify-content(center);

    margin-block: 4em;

    color: var(--clr-blue-400);
    gap: 0em 5em;

    &__left {
        width: 40%;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);

        h3 {
            font-size: var(--fs-500);
            color: var(--clr-blue-400);
        }
    }

    &__right {
        width: 40%;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);

        h3 {
            font-size: var(--fs-500);
            color: var(--clr-blue-400);
        }
    }
}

.feature {
    @include flexbox;
    @include justify-content(center);
    margin-block: 4em;
    gap: 0em 5em;
    color: var(--clr-blue-400);

    &__item {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        width: 27%;

        &__icon {
            width: 4rem;
            aspect-ratio: 1;
        }
    }
}